.box1-layout {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box2-layout {
    background: white;
    border-radius: 3px;
    padding: 1.6rem 1.6rem;
    margin-bottom: 1.2rem;
    text-align: center;
    width: 20rem;
    opacity: 0.9;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    margin: 0.8rem 0;    
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background: #e7f0fe;
    border: 1px solid #ccc;
    margin: 0 0.6rem 1.2rem 0.6rem;
    padding: 0.6rem 0.6rem;
}

button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0.6rem 1.2rem 0.6rem;
    padding: 0.6rem 0.6rem;
}